@model SD_310_W22SD_Labs.Models.Rental

@{
    ViewData["Title"] = "Rent";
}

<h1>Rent</h1>

@using (@Html.BeginForm("Create", "Rentals"))
{
    <div>
        @Html.LabelFor(m => m.CustomerId, "Customer")
        @Html.DropDownListFor(m => m.CustomerId, new SelectList((ViewData["Customers"] as List<Customer>), "Id" , "Name"))
    </div>
    <div>
        @Html.LabelFor(m => m.EquipmentId, "Equipment")
        @Html.DropDownListFor(m => m.EquipmentId,new SelectList((ViewData["Equipments"] as List<Equipment>), "Id" , "Name"))
    </div>
    <div>
        @Html.LabelFor(m => m.RentalHours, "Rental Hours")
        @Html.TextBoxFor(m => m.RentalHours)
    </div>
    <div>
        <input type="submit" />
    </div>
}

<div>
    <a asp-action="Index">Back to List</a>
</div>
